.platContainer{
    h1 {
    }

    
    .plat-affiche{
        background: linear-gradient(-70deg, $primary 0%, rgba($white, 0.5) 100%);
        border-radius: 6px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


        img {
            border-radius: 6px;
        }
    }
}