#afficheButton {
  height: 0px;
  width: 85px;
  position: fixed;
  right: 0;
  top: 50%;
  border-radius: 12px;
  z-index: 1000;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

  a {
    display: block;
    background: $dark;
    height: 52px;
    padding-top: 10px;
    width: 13rem;
    text-align: center;
    color: $light;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;

    overflow: hidden;
    white-space: nowrap;

    &:hover {
      background: $primary;
    }
  }
}