
/* Owl Carousel pour evenements*/
.owl-carousel {


	.owl-item {
		transition: .3s all ease-in-out;
		opacity: .2;
		&.active {
			opacity: 1;
		}
	}
	
	.owl-nav {
		position: absolute;
		top: 50%;
		width: 100%;
		.owl-prev,
		.owl-next {
			position: absolute;
			transform: translateY(-50%);
			margin-top: -10px;
			opacity: 1;
			transition: .3s all ease;
			&:hover, &:focus, &:active {
				outline: none;
				opacity: 1;
			}
			span {
				&:before {
					font-size: 40px;
				}
			}
		}
		.owl-prev {
			
			left: 30px!important;
			// border: 1px solid red;
		}
		.owl-next {
			right: 30px!important;
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: none;
			background: $white;
			opacity: .5;
			&.active {
				opacity: 1;
				// display: none;
				// backgroun
				// background: theme-color('primary');
			}
		}
	}

	&.centernonloop, &.centernonloop2 {

		.owl-dots {
			margin-top: 50px;
			&.disabled {
				display: block!important;
			}
			.owl-dot {
				display: inline-block;
				> span {
					display: inline-block;
					width: 7px;
					height: 7px;
					background: #ccc;
					transition: .3s all ease-in-out;
				}
				&.active {
					> span {
						background: $primary;	
						box-shadow: 0 1px 5px 0px rgba($primary, .3);
					}
				}
				&:active, &:focus {
					outline: none;
				}
			}
		}
	}
	// big slider

	&.home-slider, &.home-slider-loop-false {
		z-index: 1;
		position: relative;

		
		.btn-link {
			color: $white;
		}
		.owl-nav {
			opacity: 0;
			visibility: hidden;
			transition: .3s all ease;
			button {
				color: $white;
			}
		}
		&:focus, &:hover {
			.owl-nav {
				opacity: 1;
				visibility: visible;
			}
		}

		.slider-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: calc(100vh);
			min-height: 700px;	
			position: relative;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0,0,0,.2);
				content: "";
			}
			// .slider-overlay {
			// 	position: absolute;
			// }
			.slider-text {
				color: $white;
				height: calc(100vh);
				min-height: 700px;
				.child-name {
					font-size: 40px;
					color: $white;
				}
				h1 {
					font-size: 5rem;
					color: $white;
					line-height: 1.2;
					font-weight: 800!important;
					text-transform: uppercase;
				}
				p {
					font-size: 20px;
					line-height: 1.5;
					font-weight: 300;
					color: rgba(255,255,255,1);
				}
				a {
					color: $white;
					text-decoration: underline;
				}
				.btn {
					text-decoration: none;
				}
			}
			
		}
		&.inner-page {
			.slider-item {
				height: calc(50vh - 117px);
				min-height: 550px;	
				.slider-text {
					color: $white;
					height: calc(50vh - 117px);
					min-height: 550px;
				}
			}
		}
		.owl-dots {
			position: absolute;
			bottom: 100px;
			width: 100%;

			.owl-dot {
				width: 10px;
				height: 10px;
				margin: 5px;
				border-radius: 50%;
				border: 2px solid rgba(255,255,255,.5);
				outline: none!important;
				position: relative;
				transition: .3s all ease;
				&.active {
					border: 2px solid rgba(255,255,255,1);
					span {	
						background: rgba(255,255,255,1);
					}	
				}
			}

		}
	}
	&.major-caousel {
		.owl-stage-outer {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.owl-nav {
			.owl-prev, .owl-next {
				transition: .3s all ease;
				color: gray('700');
				&:hover, &:focus {
					color: gray('600');
					outline: none;
				}
				&.disabled {
					color: gray('300');
				}
			}
			.owl-prev {
				left: -60px!important;
			}
			.owl-next {
				right: -60px!important;
			}
		}
		.owl-dots {
			bottom: -30px!important;
			position: relative;
		}
	}
}
.slider-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: calc(100vh);
			min-height: 700px;	
			position: relative;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0,0,0,.2);
				content: "";
			}
			// .slider-overlay {
			// 	position: absolute;
			// }
			.slider-text {
				color: $white;
				height: calc(100vh);
				min-height: 700px;
				.child-name {
					font-size: 40px;
					color: $white;
				}
				h1 {
					font-size: 5rem;
					color: $white;
					line-height: 1.2;
					font-weight: 800!important;
					text-transform: uppercase;
				}
				p {
					font-size: 20px;
					line-height: 1.5;
					font-weight: 300;
					color: rgba(255,255,255,1);
				}
				a {
					color: $white;
					text-decoration: underline;
				}
				.btn {
					text-decoration: none;
				}
			}
			
		}