
// De base
.owl-carousel {
	.owl-item {
		transition: .3s all ease-in-out;
		opacity: .2;
		&.active {
			opacity: 1;
		}
	}
	.owl-nav {
		position: absolute;
		top: 50%;
		width: 100%;
		.owl-prev,
		.owl-next {
			position: absolute;
			transform: translateY(-50%);
			margin-top: -10px;
			opacity: 1;
			transition: .3s all ease;
			&:hover, &:focus, &:active {
				outline: none;
				opacity: 1;
			}
			span {
				&:before {
					font-size: 40px;
				}
			}
		}
		.owl-prev {
			
			left: 30px!important;
			// border: 1px solid red;
		}
		.owl-next {
			right: 30px!important;
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: none;
			background: $white;
			opacity: .5;
			&.active {
				opacity: 1;
				// display: none;
				// backgroun
				// background: theme-color('primary');
			}
		}
	}

	&.centernonloop, &.centernonloop2 {

		.owl-dots {
			margin-top: 50px;
			&.disabled {
				display: block!important;
			}
			.owl-dot {
				display: inline-block;
				> span {
					display: inline-block;
					width: 7px;
					height: 7px;
					background: #ccc;
					transition: .3s all ease-in-out;
				}
				&.active {
					> span {
						background: $primary;	
						box-shadow: 0 1px 5px 0px rgba($primary, .3);
					}
				}
				&:active, &:focus {
					outline: none;
				}
			}
		}
	}
	// big slider
}

//Carousel des menus
.slider_sec {

	.slider_in {
	  padding: 65px 40px 80px 40px;
	}
  
  
	h3 {
	  margin: 0px 0 45px 0;
	  padding: 10px 0 0 0;
	  line-height: 1;
	  font-weight: 600;
	}
  
	h4 {
	  margin: 0px;
	  padding: 0px 0 0 0;
	  line-height: 1;
	  font-weight: 300;
	}
  
	.item {
	  border-radius: 8px;
	}
	
	.item-img {
	  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	  border-radius: 8px;
	  filter: blur(1px);
	  -webkit-filter: blur(1px);
	  -webkit-filter: sepia(0.3);
	  filter: sepia(0.3);
	  max-height: 60em;
  
	  &:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		
	  }
  
	  // Enlever commentaire et image dans html pour remettre fond gradient
	  //min-height: 60em;;
	  //background-image: linear-gradient(45deg, $primary 0%, $secondary 100%);
	  
	}
  
	.item-text {
	  border-radius: 10px;
	  text-overflow: ellipsis;
	  @media(max-width: 1024px) {
		overflow: scroll; 
	  }
	  background-color: $white;
	  background-color: rgba($black, 0.6);
	  position: absolute;
	  width: 90%;
	  max-height: 90%;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
  
	.owl-prev {
	  position: absolute;
	  z-index: 10;
	  display: inline-block;
	  left: -104px;
	  cursor: pointer;
	  font-size: 0.1px;
	  top: 37%;
	  width: 95px;
	  height: 140px;
	  background: #fff url(https://goo.gl/kLnzFJ) no-repeat;
	}
  
	.owl-next {
	  position: absolute;
	  z-index: 10;
	  display: inline-block;
	  right: -51px;
	  cursor: pointer;
	  font-size: 0.1px;
	  top: 37%;
	  width: 45px;
	  height: 140px;
	  background: #fff url(https://goo.gl/ipLMit) no-repeat center;
	}
  
	&:after {
		content:  "";
		width: 100%;
		height: 240px;
		background: $light;
		z-index: 0;
		//bottom: -210px;
		background-color: $light;
		left: 0;
		position: absolute;
		transform: skewY(-6deg);
		transform-origin: top left;
	}
  
	&:before {
	  content:  "";
	  width: 100%;
	  height: 200px;
	  background: $white;
	  z-index: 0;
	  //bottom: -210px;
	  background-color: $white;
	  left: 0;
	  position: absolute;
	  transform: skewY(-6deg);
	  transform-origin: top left;
  }
  
  }
  
  
  //Carousel evenement


  #owl-evenement {
	  position: relative;
	  height: 100%;
	  
	  div:not(.owl-controls) {
		  height: 100%;
	  }
	  
	  .item img{
	  display: block;
	  max-width: 100%;
	  max-height: 100%;
	  }
	  
	  .owl--text {
		  position: absolute;
		  bottom: 4em;
		  left: 2em;
		  width: 20em;
		  height: 8em;
		  padding: 1em;
		  background: rgba(218, 31, 31, 0.5);
		  border-radius: 4px;
	  }
  }
  