//Carousel des menus
#menus {
    background: linear-gradient(180deg, $light 50%, darken($light, 20%) 100%);

    .owl-stage-outer {
        padding-bottom: 2rem;
        padding-top: 1rem;
    }

    .card {
        border: 0;
        border-bottom: 0.25rem solid $dark;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

        h5 {
            //font-size: 0.8rem;
            font-family: 'Varela Round';
            text-transform: uppercase;
            letter-spacing: 0.10rem;
        }

        hr {
            border-color: $primary;
            border-width: 0.25rem;
            width: 3rem;
        }
    }

    // 	&:after {
    // 		content:  "";
    // 		width: 100%;
    // 		height: 280px;
    // 		background: $black;
    // 		z-index: 0;
    // 		//bottom: -210px;
    // 		background-color: $black;
    // 		left: 0;
    // 		position: absolute;
    // 		transform: skewY(-6deg);
    // 		transform-origin: top left;
    // 	}

    // 	&:before {
    // 	  content:  "";
    // 	  width: 100%;
    // 	  height: 200px;
    // 	  background: $white;
    // 	  z-index: 0;
    // 	  //bottom: -210px;
    // 	  background-color: $white;
    // 	  left: 0;
    // 	  position: absolute;
    // 	  transform: skewY(-6deg);
    // 	  transform-origin: top left;
    //   }

}

#photos {
    background: linear-gradient(180deg, darken($light, 20%) 0%, $dark 50%);
}
