// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #161616 !default;

$primary: #3f2a1d !default;
$light : #97745E !default;
$dark : #151318 !default;
$danger : #A2452A !default;

/*
 * 	Default theme - Owl Carousel CSS File
 */

$color-base: #869791 !default;
$color-white: #FFF !default;
$color-gray: #D6D6D6 !default;

//nav

$nav-color: $color-white !default;
$nav-color-hover: $color-white !default;
$nav-font-size: 14px !default;
$nav-rounded: 3px !default;
$nav-margin: 5px !default;
$nav-padding: 4px 7px !default;
$nav-background: $color-gray !default;
$nav-background-hover: $color-base !default;
$nav-disabled-opacity: 0.5 !default;

//dots

$dot-width: 10px !default;
$dot-height: 10px !default;
$dot-rounded: 30px !default;
$dot-margin: 5px 7px !default;
$dot-background: $color-gray !default;
$dot-background-active: $color-base !default;
