@import 'variables.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'affiche.scss';
@import 'buttons.scss';
@import 'contact.scss';
@import 'carousel.scss';
@import 'dividers.scss';
@import 'footer.scss';
@import 'affiche_evenement.scss';
@import 'owl.carousel.scss';

@import 'https://npmcdn.com/flatpickr/dist/themes/light.css';

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';