// Footer
.site-footer {
	position: relative;
	z-index: 5;
	padding: 5em 0;
	// background: lighten($black, 15%);
	
	// font-size: 13px;
	// color: rgba(255,255,255,.5);
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	

	h3 {
		font-size: 16px;
		margin-bottom: 20px;
		// text-transform: uppercase;
		// letter-spacing: .05em;
		font-weight: bold;
		// color: $white;
	}
	.footer-link {
		li {
			line-height: 1.5;
			margin-bottom: 15px;
		}
	}
	hr {
		width: 100%;
	}

}
.footer-social {
	a {
		line-height: 0;
		border-radius: 50%;
		margin: 0 5px 5px 0;
		border: 1px solid rgba(255,255,255,.1);
		width: 30px;
		height: 30px;
		text-align: center;
		display: inline-block;
		&:hover {
			background: $white;
			border-color: $white;
			color: $black;
		}
	}
}

.link-thumbnail {
	display: block;
	position: relative;
	overflow: hidden;
	text-align: center;
	

	img {
		position: relative;
		transition: .3s all ease;
	}
	.date {
		display: block;
		font-size: 12px;
		color: rgba(255,255,255,.4);
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.icon {
		position: absolute;
		transition: .3s all ease;
		z-index: 4;
		top: 50%;
		font-size: 30px;
		color: $white;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		visibility: hidden;
		margin-top: 30px;
	}
	h3 {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		bottom: -20px;
		left: 0;
		color: $white;
		font-size: 18px;
		transition: .5s all ease;
		z-index: 10;
		left: 50%;
		display: block;;
		width: 77%;
		transform: translateX(-50%);
	}
	&:before {
		opacity: 0;
		visibility: hidden;
		z-index: 2;
		transition: .3s all ease;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		background: rgba(0,0,0,.6);
		position: absolute;

	}
	&:hover {
		h3 {
			opacity: 1;
			visibility: visible;
			bottom: 30px;
		}
		img {
			transform: scale(1.1);
		}
		.icon {
			opacity: 1;
			visibility: visible;
			margin-top: 0px;
		}
		&:before {
			opacity: 1;
			visibility: visible;
			
		}
	}
}


.border-t {
	border-top: 1px solid gray('100');
}

.copyright {
	font-size: 14px;
}

// animate
.element-animate {
	opacity: 0;
	visibility: hidden;
}
