// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');



@import 'variables.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'affiche.scss';
@import 'carousel.scss';
@import 'buttons.scss';
@import 'footer.scss';
@import 'owl.carousel.scss';

body {
  font-family: 'Nunito', sans-serif !important;
  letter-spacing: 0.0625em;
}


a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';